#mine{
    width: 100%;
    margin: 0px;
    padding: 20px;
}

#cardy{
    background-color: #000957;
    width: 30%;
    margin: 50px;
    padding: 20px;
}

.text{
    color: #EBE645;
}

#bodyy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    margin: 10px;
}
